<div class="card-columns m-5 animated fadeIn">
  


  <div (click)="viewArtist( item )" class="card puntero" *ngFor="let item of items"> <!-- puntero makes the cursor a pointer. viewArtist is the event to go to the artist page -->
    <img [src]="item.images | noimage" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{item.name}}</h5>
      <p class="card-text">
          <span *ngFor="let artist of item.artists" class="badge badge-secondary">{{artist.name}}</span>
       </p>
    </div>
  </div>
</div>